
@{
    ViewBag.Title = "Bộ sưu tập - 1MISSA";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div id="content-main">
    <div id="breadcrumb">
        <p>
            <a class="breadcrumb-a" href="@Url.Action("Index", "Home")">Trang chủ</a> /
            <h3 class="breadcrumb-p">Bộ sưu tập</h3>
        </p>
    </div>
    <div id="content">
        <div id="content-child-main">
            <div class="child-content">
                <div class="title">
                    <h3>“MAKE EVERYTHING POPULAR” SPECIAL COLLECTION DORAEMON | 1MISSA</h3>
                </div>
                <div id="div-image">
                    <img src="~/Content/Images/bosuutap1.jpg" alt="">
                </div>
                <button>Xem bộ sưu tập</button>
            </div>
            <div class="child-content">
                <div class="title">
                    <h3>1MISSA COLLECTION SPRING/ SUMMER 2022</h3>
                </div>
                <div id="div-image">
                    <img src="~/Content/Images/bosuutap2.jpg" alt="">
                </div>
                <button>Xem bộ sưu tập</button>
            </div>
            <div class="child-content">
                <div class="title">
                    <h3>1MISSA COLLECTION POPULAR LOGO</h3>
                </div>
                <div id="div-image">
                    <img src="~/Content/Images/bosuutap3.jpeg" alt="">
                </div>
                <button>Xem bộ sưu tập</button>
            </div>
            <div class="child-content">
                <div class="title">
                    <h3>1MISSA “MY ANIMALS” SERIES COLLECTION 2021</h3>
                </div>
                <div id="div-image">
                    <img src="~/Content/Images/bosuutap4.jpg" alt="">
                </div>
                <button>Xem bộ sưu tập</button>
            </div>
        </div>
    </div>
</div>
<!-- end content -->
