
@{
    ViewBag.Title = "Hệ thống siêu thị - 1MISSA";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div id="content-main">
    <div id="breadcrumb">
        <p>
            <a class="breadcrumb-a" href="@Url.Action("Index", "Home")">Trang chủ</a> /
            <h3 class="breadcrumb-p">Hệ thống siêu thị</h3>
        </p>
    </div>
    <div id="content">
        <div id="content-child-main">
            <div class="child-content-1">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.126830805703!2d106.61266787839035!3d10.801596861885068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b9535b60699%3A0x4737f3be8bd41d5b!2zw4ZPTiBNQUxMIFTDom4gUGjDuiBDZWxhZG9u!5e0!3m2!1svi!2s!4v1689687627737!5m2!1svi!2s" style="border:0; width: 100%; height: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="infor">
                    <div class="infor-1">
                        <h5>THÔNG TIN LIÊN HỆ !</h5>
                        <ul class="infor-contact">
                            <li class=" infor-contact-1">
                                <p>Hotline:</p>
                                <h3>1900 633028</h3>
                                <button>Gọi ngay</button>
                            </li>
                            <li class="infor-contact-2">
                                <p>Email:</p>
                                <h3>Customercare@1MISSA.asia</h3>
                                <button style="margin-left: 90.5px">Gửi ngay</button>
                            </li>
                            <li class="infor-contact-3">
                                <p>Chatbot:</p>
                                <h3>Messenger</h3>
                                <button>Nhắn ngay</button>
                            </li>
                            <li class="infor-contact-4">
                                <p>Mở cửa:</p>
                                <h3>Mon - Sun | 09:30 ~ 21:30</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="infor-2 clear">
                        <ul>
                            <li class="clear">
                                <div class="img-shop">
                                    <img src="~/Content/Images/shop1.jpg" alt="">
                                </div>
                                <div class="infor-shop">
                                    <h2>325 HOÀNG SA, QUẬN 1<i class="bi bi-geo-alt"></i></h2>
                                    <p>325 Hoàng Sa, Phường Tân Định, Quận 1, HCM</p><br>
                                    <p>
                                        Mở cửa:&nbsp;
                                        <h3> Mon - Sun | 09:30 ~ 21:30</h3>
                                    </p><br>
                                    <p>
                                        Phone:&nbsp;
                                        <h3> 1900 633 028</h3>
                                    </p>
                                    <button>Xem cửa hàng</button>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="img-shop">
                                    <img src="~/Content/Images/shop2.jpeg" alt="">
                                </div>
                                <div class="infor-shop">
                                    <h2>THE NEW PLAY GROUND, QUẬN 1<i class="bi bi-geo-alt"></i></h2>
                                    <p>The New Playground, 04 Phạm Ngũ Lão, Quận 1, HCM</p><br>
                                    <p>
                                        Mở cửa:&nbsp;
                                        <h3> Mon - Sun | 09:30 ~ 21:30</h3>
                                    </p><br>
                                    <p>
                                        Phone:&nbsp;
                                        <h3> 1900 633 028</h3>
                                    </p>
                                    <button>Xem cửa hàng</button>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="img-shop">
                                    <img src="~/Content/Images/shop3.jpg" alt="">
                                </div>
                                <div class="infor-shop">
                                    <h2>54 MẬU THÂN, CẦN THƠ<i class="bi bi-geo-alt"></i></h2>
                                    <p>54 Mậu Thân, Xuân Khánh, quận Ninh Kiều, Cần Thơ</p><br>
                                    <p>
                                        Mở cửa:&nbsp;
                                        <h3> Mon - Sun | 09:30 ~ 21:30</h3>
                                    </p><br>
                                    <p>
                                        Phone:&nbsp;
                                        <h3> 1900 633 028</h3>
                                    </p>
                                    <button>Xem cửa hàng</button>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="img-shop">
                                    <img src="~/Content/Images/shop4.jpg" alt="">
                                </div>
                                <div class="infor-shop">
                                    <h2>SƯ VẠN HẠNH, QUẬN 10<i class="bi bi-geo-alt"></i></h2>
                                    <p>842 Sư Vạn Hạnh, Phường 12, Quận 10, HCM</p><br>
                                    <p>
                                        Mở cửa:&nbsp;
                                        <h3> Mon - Sun | 09:30 ~ 21:30</h3>
                                    </p><br>
                                    <p>
                                        Phone:&nbsp;
                                        <h3> 1900 633 028</h3>
                                    </p>
                                    <button>Xem cửa hàng</button>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="message modal-body">
            <h3>GỬI MỘT LỜI NHẮN CHO 1MISSA!</h3>
            <label for="name" class="modal-label"></label>
            <input id="name" type="text" class="modal-input" placeholder="Họ và tên">
            <label for="email" class="modal-label"></label>
            <input id="email" type="email" class="modal-input-1" placeholder="Email">
            <label for="number-phone" class="modal-label"></label>
            <input id="number-phone" type="text" class="modal-input-1 modal21" placeholder="Số điện thoại">
            <label for="messages" class="modal-label"></label>
            <input id="messages" type="text" class="modal-input-2" placeholder="Lời nhắn">
            <button>Gửi đi</button>
        </div>
        <div class="clear1"></div>
    </div>
</div>



