
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div id="content_1">
    <div style="margin: 10px auto; width: 50%;">
        <h2 style="color: red;">Đăng xuất thành công !</h2>
    </div>
</div>