
@{
    ViewBag.Title = "Siêu thị 1MISSA - 1MISSA";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div id="content-main">
    <div id="breadcrumb">
        <p>
            <a class="breadcrumb-a" href="@Url.Action("Index", "Home")">Trang chủ</a> /
            <h3 class="breadcrumb-p">Siêu thị 1MISSA</h3>
        </p>
    </div>
    <div id="content">
        <div id="content-child-main">
            <div id="title-1" class="h3">
                <h3>SIÊU THỊ 1MISSA</h3>
            </div>
            <div id="title-2">
                <p>1MISSA - An tâm mua sắm mỗi ngày</p>
                <p>/ 1 - MISSA /</p>
            </div>
            <div id="title-3">
                <p>TRẢI NGHIỆM PHONG CÁCH MUA SẮM</p>
                <p>TRỰC TUYẾN AN TOÀN CHẤT LƯỢNG TỪ 1MISSA</p>
            </div>
            <div id="div-image">
                <img src="~/Content/Images/topbanner1.png" alt="">
            </div>
            <div id="introduce">
                <div id="introduce-title">
                    <p id="introduce-title-p1">Đáp ứng nhu cầu mua sắm</p>
                </div>
                <div id="introduce-content">
                    <p>
                        Uy tín, chất lượng, và có độ bền vượt thời gian, sản
                        phẩm Nhật lâu nay vẫn luôn chiếm được lòng tin, cảm tình
                        của hầu hết người tiêu dùng Việt. Ngay từ thập niên 80 và 90 của thế kỷ trước,
                        người Việt đã luôn ưa chuộng các sản phẩm hàng Nhật nội địa, mặc dù khi ấy, hàng hoá
                        đa phần chỉ là hàng bãi, hàng “second hand”, và có mức giá không rẻ, thế nhưng đối với
                        các gia đình Việt, đó là những sản phẩm được yêu thích và đáng tin cậy. </br> </br>
                        Ngày nay, với nhu cầu sở hữu các sản phẩm chất lượng, bảo vệ sức khỏe ngày càng tăng cao,
                        hàng Nhật lại càng trở nên có sức hút với người tiêu dùng hiện đại với đa dạng chủng loại từ
                        chăm sóc sức khỏe, mỹ phẩm, mẹ và bé, phụ kiện thời trang, gia dụng…
                    </p>
                </div>
            </div>
            <div id="div-image">
                <img src="~/Content/Images/topbanner2.jpg" alt="">
            </div>
            <div id="introduce">
                <div id="introduce-title">
                    <p id="introduce-title-p2">1MISSA – kênh mua sắm đáng tin cậy</p>
                </div>
                <div id="introduce-content">
                    <p>
                        Tuy nhiên, ngày càng có nhiều trang web bán hàng ngoại nhập không đảm bảo về
                        nguồn gốc xuất xứ sản phẩm, nhiều khách hàng hoang mang về độ tin cậy của nhà cung cấp,
                        hay không hài lòng về quy trình đặt hàng phức tạp, nhiều rủi ro. </br> </br>
                        Thấu hiểu lý do đó, 1MISSA ra đời góp phần giải quyết bài toán mua sắm trực
                        tuyến một cách an toàn và nhanh chóng. Qua đó, những người tiêu dùng là gia đình
                        trẻ nói chung và chị em phụ nữ bận rộn nói riêng không có nhiều thời gian đến trung
                        tâm mua sắm đều có thể mua hàng Nhật trực tuyến một cách đảm bảo và dễ dàng.
                    </p>
                </div>
            </div>
            <div id="div-image">
                <img src="~/Content/Images/topbanner3.jpg" alt="">
            </div>
            <div id="introduce">
                <div id="introduce-title">
                    <p id="introduce-title-p3">
                        Đi siêu thị 1MISSA chỉ với 1 click chuột
                    <p>
                </div>
                <div id="introduce-content">
                    <p>
                        Chỉ với một thao tác “Chọn mua” đơn giản, bạn đã có thể thoả sức mua sắm
                        những sản phẩm nội ngoại nhập chất lượng, làm mới không gian sống của gia đình,
                        đồng thời trải nghiệm dịch vụ đổi trả hàng lên đến 14 ngày sau khi mua. Tại 1MISSA,
                        bạn sẽ cảm giác như đang đi siêu thị 1MISSA tại nhà, với đa dạng sản phẩm </br> </br>
                        Và đặc biệt có nhiều dòng sản phẩm mang thương hiệu TOPVALU – nhãn hàng riêng của 1MISSA nhập
                        khẩu trực tiếp từ Nhật Bản. Ngoài ra, 1MISSA có rất nhiều chương trình ưu đãi hấp dẫn hàng
                        tháng, cho gia đình bạn nhiều cơ hội mua sắm tiết kiệm và tiện lợi.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

